* {
  box-sizing: border-box;
}

body {
  background-color: rgb(75, 75, 219);
}

.main {
  width: 50%;
  height: 70%;
  margin: 40px auto;
  padding: 20px;
  background-color: beige;
  box-shadow: 5px 5px 10px black;
}

h2 {
  text-align: center;
}

@media(max-width: 586px) {
  .main {
    width: 90%;
  }
}

