* {
  box-sizing: border-box;
}

body {
  background-color: rgb(75, 75, 219);
}

.main {
  width: 40%;
  height: 70%;
  margin: 40px auto;
  padding: 20px;
  background-color: beige;
}

h2 {
  text-align: center;
}

